
body {
	text-align: center;
	background-color: #eee;
	margin: 0;
	padding: 0;
}

#main {
	margin: 0 auto;
	width: 800px;
	text-align: left;
	background-color: #fff;
	padding: 0;
}

#nav {
	background-color: #ddd;
	padding: 0.5em 1em;
}

#footer {
	background-color: #ddd;
	padding: 0.5em 1em;
	text-align: center;
	color: #999;
}

#content {
	padding: 2em;
}

h1 {
	margin-top: 0;
}

.admin-section {
	background-image: url("/images/stripes_bg.gif");
	border-top: 1px solid #BECCCC;
	border-bottom: 1px solid #BECCCC;
	padding: 40px;
	position: relative;
	text-align: left;
}

pre.admin-debug {
	background: none repeat scroll 0 0 #000000;
	color: #00FF00;
	font-size: 14px;
	margin: 0;
	padding: 1em;
}

p.error {
	background-color: #f99;
}

p.message {
	background-color: #9f9;
}


/*pagination*/
#pagination{

}

/* pagination header */
.pag_head{margin:0 0 10px;text-align:center;border: 1px solid #fff;display:none;}

/* pagination active items */
.ds_pag{
    text-decoration: none;
    border: 1px solid #AAA;
    padding: 0.3em 0.5em;
    color: #0BBDFF;
    margin: 0 2px;
    background:#fff;
}

/* pagination inactive items */
.pag_inactive{
    border: 1px solid #AAA;
    padding: 0.3em 0.5em;
    color: #999;
    margin: 0 2px;
    background:#fff;
}
/* pagination ellipses */
.pag_ellipses{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0.1em 0.1em;
    color: #999;
    margin: 0;
    background:#fff;
}