root = true

# Config EOL characters, not ending blank lines at the end of files, always use UTF-8, trim trailing whitespace
[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
trim_trailing_whitespace = true

# Indent is 4 tabs almost everywhere
[*.{js,jsx,ts,tsx,json,php,txt,html,md,less,css,t}]
indent_style = tab
indent_size = 4