<?php

	$GLOBALS['cfg']['crypto_cookie_secret'] = '';
	$GLOBALS['cfg']['crypto_password_secret'] = '';
	$GLOBALS['cfg']['crypto_crumb_secret'] = '';

	$GLOBALS['cfg']['db_main']['pass'] = '';
	$GLOBALS['cfg']['db_users']['pass'] = '';
	$GLOBALS['cfg']['db_poormans_slaves_pass'] = '';

	# the end
